%rss(version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom")
  %channel
    %title Rohben Blog
    %atom:link(href="http://blog.rohben.org/feed.xml" rel="self" type="application/rss+xml")
    %link http://blog.rohben.org
    %description A technical blog featuring anything that has piqued the interest of the author.
    %pubDate&= formatRFC822Date(new Date())
    %language en
    :each article in articles
      %item
        %title&= article.title
        %link&= "http://blog.rohben.com/" + article.name
        %comments&= "http://blog.rohben.com/" + article.name + "#disqus_thread"
        %pubDate&= formatRFC822Date(article.date)
        %guid(isPermaLink="true")&= "http://blog.rohben.com/" + article.name
        %description&= markdownEncode(article.markdown)
        %author&= article.author && (article.author.email + " (" + article.author.name + ")")
